header {
  border: 1px solid black;
  display: inline-flex;
  width: 100%;
  font-family: 'Walter Turncoat', cursive;
  font-size: 18pt;
}
header img {
  max-width: 75px;
  margin: 15px;
}
header p {
  color:#0090ff;
  text-align: center;
  justify-content: center;
  padding-top: 15px;
}
header span {
  background-size: contain;
  /* margin:15px; */
  width: 85px;
  text-align: center;
  padding-top: 37px;
}
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }