header {
  border: 1px solid black;
  display: inline-flex;
  width: 100%;
  font-family: 'Walter Turncoat', cursive;
  font-size: 19pt;
}
header img {
  max-width: 75px;
  margin: 15px;
}
header p {
  color:#0090ff;
  text-align: center;
  justify-content: center;
  padding-top: 10px;
  padding-left: 2px;
}
header span {
  /* width: 80px; */
  text-align: center;
  padding-top: 35px;
  padding-left: 20px;
}
.material-icons.md-36 { font-size: 36px; }