.button_rect {
  display: flex;
  position: relative;
  border-radius: 10pt;
  align-items: center;
  justify-content: center;
  margin: 5px;
  /* max-width: 100px;
  min-width: 100px;
  max-height: 100px;
  min-height: 100px; */
  cursor: pointer;
  opacity: 0.7;
}
.text {
  font-family: 'Boogaloo', cursive;
  max-width: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_rect:hover {
  opacity: 1;
}
