.button_rect {
  display: inline;
  color: white;
  font-size: 16pt;
  border-radius: 10pt;
  /* align-items: center; */
  text-align: center;
  padding: 15px;
  margin: 15px;
  font-family: 'PT Sans Narrow', sans-serif;
}