#the_header {
  position: relative;
  top: 0px;
  display: flex;
  width: 414px;
}

#logo {
  max-width: 75px;
  margin: 15px;
}

#the_header div {
  color: #0090ff;
  text-align: center;
  justify-content: center;
  padding-top: 30px;
  font-family: 'Walter Turncoat', cursive;
  font-size: 23pt;
}

#menu {
  max-width: 25px;
  margin-left: 20px;
  cursor: pointer;
}