#the_header {
  position: fixed;
  top: 0px;
  display: flex;
  width: 375px;
  height: 110px;
  margin: 0;
  z-index: 99;
  flex-direction: row;
  background-color: #ffffff;
}

#logo img{
  max-width: 75px;
  margin: 15px;
  overflow: hidden;
  cursor: pointer;
}

#logo_text {
  position: static;
  color:black;
  text-align: center;
  justify-content: center;
  padding-top: 35px;
  font-family: 'Walter Turncoat', cursive;
  font-size: 20pt;
  margin-left: -10px;
}
#ham_menu {
  width: 50px;
  height: 110px;
  right: 0;
  cursor: pointer;
}
#ham_menu img{
  width: 20px;
  margin-top: 40px;
  margin-left: 2em;
}

