#the_header {
  position: fixed;
  top: 0px;
  display: flex;
  width: 375px;
  height: 110px;
  border:1px solid black;
  margin: 0;
  /* background-color: #ff9472; */
}

#logo {
  max-width: 75px;
  margin: 15px;
  overflow: hidden;
}

#logo_text {
  color:black;
  text-align: center;
  justify-content: center;
  padding-top: 35px;
  font-family: 'Walter Turncoat', cursive;
  font-size: 20pt;
  margin-left: -10px;
}

#menu {
  max-width: 25px;
  margin: 20px;
  cursor: pointer;
}