#heading {
  font-weight: bold;
  font-size: 25px;
  font-family: 'Boogaloo', cursive;
}

#tips_body_cont1 {
  display: inline-flex;
  flex-direction: column;
  width: 300px;
}

#tips_subtitle {
  color: #e847a1;
  font-weight: bold;
  font-size: 20px;
}