#tutorial_page {
  position: relative;
  width: 375px;
  /* background-color: #ff9472; */
}
.tutorial_text  {
  font-family: 'Boogaloo', cursive;
  position: relative;
  margin: 30px;
  font-size: 24px;
  /* color: #0090FF; */
  color:#000000;
  text-align: left;
}
#tutorial_body  {
  /* background-color: #ff9472; */
  position: relative;
  top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.tutorial_steps {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  /* width: 200px;
  height: 350px; */
  /* background-color: #f2b8a6; */
  opacity: 5;
  border-radius: 15px;
  object-fit: scale-down;
  /* display: flex; */
 
}
/* .arrow-down {
  width:100%;
  margin:0 auto;
  text-align: center;

}
.arrow-down::after {
  content:"";
  width:20px;
  height:20px;
  position: absolute;
  margin:auto;
  top:0;
  right:0;
  bottom:0;
  left:0;
  border-right:4px solid #000;
  border-bottom:4px solid #000;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-animation: 1.5s arrow infinite ease;
  animation: 1.5s arrow infinite ease;
}

@-webkit-keyframes arrow {
  0%, 100% {
    top:50px;
  }
  50% {
    top:80px;
  }
}

@keyframes arrow {
  0%, 100% {
    top:50px;
  }
  50% {
    top:80px;
  }
} */
#location_page{
  display:flex;
}
.loc_img{
  width:100px;
  height:100px;
  
}
#cat_width{
  margin-left:50px;
}
.ResultImg1 {
width:200px;
}

.ResultImg2{
  width:100px;
  }
  
  @media only screen and (min-width: 1024px) {
    .tutorial_steps{
      
          /* float: none; */
          width: 100%;
      
    }
  }
  @media screen and (max-width: 375px) {
    .tutorial_steps {
      /* float: none; */
      width: 100%;
    }
  }