* {
  font-family: 'PT Sans Narrow', sans-serif;
}

#mainapp{
    position:relative !important;
    left:0;
    opacity:1;
    transition: opacity 1s;
 
}
body, html{
    overflow-x:hidden;
    display: flex;
    justify-content: center;
}