html, body {
  margin: 0;
}
.body_page {
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-color:#ff9472; */
  min-width: 375px;
  max-width: 375px;
  min-height:812px;
  max-height:812px;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
  margin: 0;
}

#green_monster{
  width: 150px;
  margin-bottom:-90px;
  -webkit-animation: action 1s infinite  alternate;
  animation: action 1s infinite  alternate;
  position: relative;
  z-index: 2;
}
@-webkit-keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes action {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}

#globe {
  width: 300px;
  animation: rotation 20s infinite linear;
  position: relative;
  z-index: 1;
}

@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}

p {
  font-family: 'PT Sans Narrow', sans-serif;
}

@media only screen and (min-width: 1024px) {
  .body_page{
    
        float: none;
        width: 100%;
    
  }
}
@media screen and (max-width: 375px) {
  .body_page {
    float: none;
    width: 100%;
  }
}