#menu {
  display: inline-flex;
  flex-direction: column;
  background-color: #ff9472;
  width:180px;
  height: 300px;
  color: white;
  padding-top: 10px;
  right: 100px;
  transition: 1s all ease;
  z-index: 1000;
}
.menu_options {
  font-size: 24px;
  display: inline;
  padding:10px;
  text-decoration: underline;
  cursor: pointer;
}
