#menu1 {
  display: inline-flex;
  flex-direction: column;
  border-radius: 5pt;
  background-color: #ff9472;
  width:160px;
  height: 300px;
  opacity:0;
  color: white;
  right: -160px;
  position: absolute;
  padding-top: 10px;
  transition: opacity 1s;
}
.menu_options {
  font-size: 24px;
  display: inline;
  padding:10px;
  text-decoration: underline;
  cursor: pointer;
}
