#button_long {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  color: white;
  border-radius:10pt;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 8px;
  font-family: 'Boogaloo', cursive;
  width:300px;
  height:100px;
}
#long_button_img {
  position: absolute;
  left: 10px;
  max-width: 70px;
  overflow: hidden;
}
#long_button_texts {
  display: flex;
  position: absolute;
  right: 5px;
  flex-direction: column;
  width: 200px;
  /* margin: 5px; */
}

#long_button_text1 {
  font-weight: bold;
  font-size: 22px;
}

#long_button_text2 {
  margin-top: -20px;
  margin-left: -10px;
  font-size: 18px;
}